Services Not Signed/Service References/CredibleExportService/ExportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://www.crediblebh.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://www.crediblebh.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://www.crediblebh.com/">
      <s:element name="ExportDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connection" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="start_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="end_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="custom_param1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="custom_param2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="custom_param3" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="connection" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="start_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="end_date" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="custom_param1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="custom_param2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="custom_param3" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportXMLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataSet" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:element ref="s:schema" />
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExportDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:ExportDataSet" />
  </wsdl:message>
  <wsdl:message name="ExportDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:ExportDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="ExportXMLSoapIn">
    <wsdl:part name="parameters" element="tns:ExportXML" />
  </wsdl:message>
  <wsdl:message name="ExportXMLSoapOut">
    <wsdl:part name="parameters" element="tns:ExportXMLResponse" />
  </wsdl:message>
  <wsdl:message name="ExportDataSetHttpGetIn">
    <wsdl:part name="connection" type="s:string" />
    <wsdl:part name="start_date" type="s:string" />
    <wsdl:part name="end_date" type="s:string" />
    <wsdl:part name="custom_param1" type="s:string" />
    <wsdl:part name="custom_param2" type="s:string" />
    <wsdl:part name="custom_param3" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExportDataSetHttpGetOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ExportXMLHttpGetIn">
    <wsdl:part name="connection" type="s:string" />
    <wsdl:part name="start_date" type="s:string" />
    <wsdl:part name="end_date" type="s:string" />
    <wsdl:part name="custom_param1" type="s:string" />
    <wsdl:part name="custom_param2" type="s:string" />
    <wsdl:part name="custom_param3" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExportXMLHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ExportDataSetHttpPostIn">
    <wsdl:part name="connection" type="s:string" />
    <wsdl:part name="start_date" type="s:string" />
    <wsdl:part name="end_date" type="s:string" />
    <wsdl:part name="custom_param1" type="s:string" />
    <wsdl:part name="custom_param2" type="s:string" />
    <wsdl:part name="custom_param3" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExportDataSetHttpPostOut">
    <wsdl:part name="Body" element="tns:DataSet" />
  </wsdl:message>
  <wsdl:message name="ExportXMLHttpPostIn">
    <wsdl:part name="connection" type="s:string" />
    <wsdl:part name="start_date" type="s:string" />
    <wsdl:part name="end_date" type="s:string" />
    <wsdl:part name="custom_param1" type="s:string" />
    <wsdl:part name="custom_param2" type="s:string" />
    <wsdl:part name="custom_param3" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExportXMLHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ExportServiceSoap">
    <wsdl:operation name="ExportDataSet">
      <wsdl:input message="tns:ExportDataSetSoapIn" />
      <wsdl:output message="tns:ExportDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExportXML">
      <wsdl:input message="tns:ExportXMLSoapIn" />
      <wsdl:output message="tns:ExportXMLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ExportServiceHttpGet">
    <wsdl:operation name="ExportDataSet">
      <wsdl:input message="tns:ExportDataSetHttpGetIn" />
      <wsdl:output message="tns:ExportDataSetHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ExportXML">
      <wsdl:input message="tns:ExportXMLHttpGetIn" />
      <wsdl:output message="tns:ExportXMLHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ExportServiceHttpPost">
    <wsdl:operation name="ExportDataSet">
      <wsdl:input message="tns:ExportDataSetHttpPostIn" />
      <wsdl:output message="tns:ExportDataSetHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ExportXML">
      <wsdl:input message="tns:ExportXMLHttpPostIn" />
      <wsdl:output message="tns:ExportXMLHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExportServiceSoap" type="tns:ExportServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExportDataSet">
      <soap:operation soapAction="https://www.crediblebh.com/ExportDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportXML">
      <soap:operation soapAction="https://www.crediblebh.com/ExportXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExportServiceSoap12" type="tns:ExportServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExportDataSet">
      <soap12:operation soapAction="https://www.crediblebh.com/ExportDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportXML">
      <soap12:operation soapAction="https://www.crediblebh.com/ExportXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExportServiceHttpGet" type="tns:ExportServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ExportDataSet">
      <http:operation location="/ExportDataSet" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportXML">
      <http:operation location="/ExportXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExportServiceHttpPost" type="tns:ExportServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ExportDataSet">
      <http:operation location="/ExportDataSet" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportXML">
      <http:operation location="/ExportXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExportService">
    <wsdl:port name="ExportServiceSoap" binding="tns:ExportServiceSoap">
      <soap:address location="https://reportservices.crediblebh.com/reports/ExportService.asmx" />
    </wsdl:port>
    <wsdl:port name="ExportServiceSoap12" binding="tns:ExportServiceSoap12">
      <soap12:address location="https://reportservices.crediblebh.com/reports/ExportService.asmx" />
    </wsdl:port>
    <wsdl:port name="ExportServiceHttpGet" binding="tns:ExportServiceHttpGet">
      <http:address location="https://reportservices.crediblebh.com/reports/ExportService.asmx" />
    </wsdl:port>
    <wsdl:port name="ExportServiceHttpPost" binding="tns:ExportServiceHttpPost">
      <http:address location="https://reportservices.crediblebh.com/reports/ExportService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>